---
title: タイマー
---

<h1>しのせんこく</h1>

<p id="time">
  <span class="min"></span>分
  <span class="sec"></span>秒
</p>

<a href="#" class="button start" id="timerStart">すたーと</a>
<a href="#" class="button stop" id="timerStop">すとっぷ</a>
<a href="#" class="button reset" id="timerReset">りたーん</a>
